:root {
    --background: #f3e9ff;
    --text-dark: #333333;
    --primary-color: #581c7a;
    --link-color: #351b3f;
    --container-bg: #FFFFFF;
    --border-highlight: #D9E8FC;
  }
  
  /* General Styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: var(--text-dark);
    background: linear-gradient(135deg, #d9c2f2, #f3e9ff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding-top: 20px;
  }
  
  /* Container */
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: var(--container-bg);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--border-highlight);
  }
  
  /* Headings */
  h1,
  h2 {
    color: var(--primary-color);
  }
  
  /* Contact Links */
  .contact a {
    color: var(--link-color);
    text-decoration: none;
  }
  
  /* Section Headings */
  .section h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 5px;
  }
  
  /* Items */
  .item h3 {
    margin: 0;
    font-size: 18px;
    color: var(--text-dark);
  }
  
  .item p {
    margin: 5px 0;
    font-size: 14px;
    color: var(--text-dark);
  }
  
  /* Skills */
  .skills ul {
    list-style: none;
    padding: 0;
  }
  
  .skills ul li {
    display: inline-block;
    background: var(--primary-color);
    color: var(--container-bg);
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 4px;
  }
  
  /* Projects Section */
  .projects ul {
    list-style: none;
    padding: 0;
  }
  
  .projects ul li {
    display: inline-block;
    background: var(--primary-color);
    color: var(--container-bg);
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 4px;
  }
  
  .projects ul li a {
    color: var(--container-bg);
    text-decoration: none;
    font-weight: bold;
  }
  
  .projects ul li:hover {
    background: var(--link-color);
  }
  
/* Social Buttons Container */
.social-buttons {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
  }
  
  /* Social Button */
  .social__btn {
    background-color: var(--primary-color);
    color: #000000; /* Text color set to black */
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    transition: all 0.3s ease-out;
  }
  
  .social__btn:hover {
    background-color: var(--link-color);
  }
  
  @media screen and (max-width: 768px) {
    .container {
      padding: 10px;
    }
    h1 {
      font-size: 24px;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 32px;
  }

  .container {
    padding: 15px;
  }

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
  



